.elementor-56 .elementor-element.elementor-element-5935d46 {
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #E0E2E9;
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 25px 0px 25px 0px;
    z-index: 1;
}

.elementor-56 .elementor-element.elementor-element-5935d46>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-56 .elementor-element.elementor-element-af39583.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-af39583.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-af39583>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-56 .elementor-element.elementor-element-f13e43a .gsc-logo .site-branding-logo {
    max-width: 146px;
}

.elementor-bc-flex-widget .elementor-56 .elementor-element.elementor-element-f9965e1.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-f9965e1.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-f9965e1.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-56 .elementor-element.elementor-element-f9965e1>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-repeater-item-47f2608.elementor-social-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-repeater-item-47f2608.elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-repeater-item-47f2608.elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-repeater-item-d2e65c9.elementor-social-icon {
    background-color: var( --e-global-color-primary);
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-repeater-item-d2e65c9.elementor-social-icon i {
    color: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-repeater-item-d2e65c9.elementor-social-icon svg {
    fill: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-611a36b {
    --grid-template-columns: repeat(0, auto);
    --icon-size: 15px;
    --grid-column-gap: 10px;
    --grid-row-gap: 0px;
    width: auto;
    max-width: auto;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-widget-container {
    text-align: center;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-social-icon {
    background-color: #F1F2F6;
    --icon-padding: 0.7em;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-social-icon i {
    color: #717580;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-social-icon svg {
    fill: #717580;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-social-icon:hover {
    background-color: #2E51D3;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-social-icon:hover i {
    color: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-611a36b .elementor-social-icon:hover svg {
    fill: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-611a36b>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
}

.elementor-56 .elementor-element.elementor-element-a652c2f {
    --icon-box-icon-margin: 20px;
    width: auto;
    max-width: auto;
}

.elementor-56 .elementor-element.elementor-element-a652c2f .elementor-icon {
    font-size: 36px;
}

.elementor-56 .elementor-element.elementor-element-a652c2f .elementor-icon-box-title {
    color: #AEB2C2;
}

.elementor-56 .elementor-element.elementor-element-a652c2f .elementor-icon-box-title,
.elementor-56 .elementor-element.elementor-element-a652c2f .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 400;
}

.elementor-56 .elementor-element.elementor-element-a652c2f>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
    padding: 0px 40px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E0E2E9;
}

.elementor-56 .elementor-element.elementor-element-e411e05 {
    --icon-box-icon-margin: 20px;
    width: auto;
    max-width: auto;
}

.elementor-56 .elementor-element.elementor-element-e411e05 .elementor-icon {
    font-size: 36px;
}

.elementor-56 .elementor-element.elementor-element-e411e05 .elementor-icon-box-title {
    color: #AEB2C2;
}

.elementor-56 .elementor-element.elementor-element-e411e05 .elementor-icon-box-title,
.elementor-56 .elementor-element.elementor-element-e411e05 .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 400;
}

.elementor-56 .elementor-element.elementor-element-e411e05>.elementor-widget-container {
    margin: 0px 40px 0px 0px;
    padding: 0px 40px 0px 0px;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    border-color: #E0E2E9;
}

.elementor-56 .elementor-element.elementor-element-d5396e0 {
    --icon-box-icon-margin: 20px;
    width: auto;
    max-width: auto;
}

.elementor-56 .elementor-element.elementor-element-d5396e0 .elementor-icon {
    font-size: 36px;
}

.elementor-56 .elementor-element.elementor-element-d5396e0 .elementor-icon-box-title {
    color: #AEB2C2;
}

.elementor-56 .elementor-element.elementor-element-d5396e0 .elementor-icon-box-title,
.elementor-56 .elementor-element.elementor-element-d5396e0 .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 400;
}

.elementor-56 .elementor-element.elementor-element-d5396e0>.elementor-widget-container {
    padding: 0px 0px 0px 0px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: #FFFFFF1A;
}

.gv-sticky-wrapper.is-fixed>.elementor-section {
    background: #FFFFFF !important;
}

.elementor-56 .elementor-element.elementor-element-a99dd1e:not(.elementor-motion-effects-element-type-background),
.elementor-56 .elementor-element.elementor-element-a99dd1e>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #FFFFFF;
}

.elementor-56 .elementor-element.elementor-element-a99dd1e {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.05);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
    z-index: 11;
}

.elementor-56 .elementor-element.elementor-element-a99dd1e>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-bc-flex-widget .elementor-56 .elementor-element.elementor-element-537e75fb.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-537e75fb.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-537e75fb>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-56 .elementor-element.elementor-element-611e29ac .gva-navigation-menu ul.gva-nav-menu>li .submenu-inner,
.gva-navigation-menu ul.gva-nav-menu>li ul.submenu-inner {
    min-width: 264px;
}

.elementor-56 .elementor-element.elementor-element-611e29ac>.elementor-widget-container {
    margin: 0px 0px 0px -18px;
    padding: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-56 .elementor-element.elementor-element-2016fbff.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-2016fbff.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-56 .elementor-element.elementor-element-2016fbff.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-56 .elementor-element.elementor-element-2016fbff>.elementor-element-populated {
    padding: 0px 15px 0px 15px;
}

.elementor-56 .elementor-element.elementor-element-82953ba .elementor-button {
    font-weight: bold;
    text-transform: capitalize;
    line-height: 1.7em;
    letter-spacing: 2.6px;
    word-spacing: 0em;
    background-color: var( --e-global-color-primary);
}

.elementor-56 .elementor-element.elementor-element-82953ba .elementor-button:hover,
.elementor-56 .elementor-element.elementor-element-82953ba .elementor-button:focus {
    background-color: #324FC0;
}

@media(max-width:767px) {
    .elementor-56 .elementor-element.elementor-element-f9965e1>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
        margin-bottom: 12px;
    }
    .elementor-56 .elementor-element.elementor-element-a652c2f {
        --icon-box-icon-margin: 10px;
    }
    .elementor-56 .elementor-element.elementor-element-a652c2f .elementor-icon {
        font-size: 36px;
    }
    .elementor-56 .elementor-element.elementor-element-e411e05 {
        --icon-box-icon-margin: 10px;
    }
    .elementor-56 .elementor-element.elementor-element-e411e05 .elementor-icon {
        font-size: 30px;
    }
    .elementor-56 .elementor-element.elementor-element-d5396e0 .elementor-icon-box-wrapper {
        text-align: left;
    }
    .elementor-56 .elementor-element.elementor-element-d5396e0 {
        --icon-box-icon-margin: 11px;
    }
    .elementor-56 .elementor-element.elementor-element-d5396e0 .elementor-icon {
        font-size: 30px;
    }
}

@media(min-width:768px) {
    .elementor-56 .elementor-element.elementor-element-af39583 {
        width: 22%;
    }
    .elementor-56 .elementor-element.elementor-element-f9965e1 {
        width: 77.96%;
    }
    .elementor-56 .elementor-element.elementor-element-537e75fb {
        width: 70.999%;
    }
    .elementor-56 .elementor-element.elementor-element-2016fbff {
        width: 28.961%;
    }
}